<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card" style="width: 25rem; margin: 0 auto;">
            <img [src]="user.picture" alt="" class="card-img-top img-thumbnail">
            <div class="card-body text-center">
                <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
                <p>Email: {{user.email}}</p>
                <button class="btn btn-primary btn-block form-control btn-custom">Ver</button>

            </div>
        </div>
    </div>
</div>